---
layout: page
title: Créativement vôtre
description:
thumbnail: /assets/images/artiste-pour-une-cause.jpeg
---

<style type="text/css">
  div.thumbnail-as-bg .mast::before {
    background-position: 0px 20% !important;
  }
</style>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Notre objectif :</h3>
<p>- La Bonne nouvelle</p>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Nos 6 causes défendues :</h3> 
<ul class="jdb-ul">
  <li>L'identité pluriculturelle</li>
  <li>La conservation et la promotion de l'art comme un outil de développement</li>
  <li>L'accès à l'éducation et la réforme de celle-ci #Educationisthekey</li>
  <li>L'ouverture du jeune entrepreneur au monde international #Ungesteunevie Youth leadership </li>
  <li>La réduction & la prévention du chômage des jeunes ressortissants des études</li>
  <li>La réforme des échanges politiques, économiques & sociaux avec les pays dont les Belges issus de la diversité sont originaires pour faciliter les échanges.</li>
</ul>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Nos partenaires :</h3>
<ul class="jdb-ul">
  <li>AREN</li>
  <li>ONG ACDIP</li>
  <li>Fondation RIO MAVUBA</li>
</ul>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Nos événements :</h3>
<div id="news">
  {% for item in site.data.index-creaction %}
    {% include post-card.html %}
  {% endfor %}
</div>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Nos projets :</h3>
<p>- Il était une fois...Kimpeti</p>

<p>Vous pouvez prévisualiser les vidéos de la série Artiste pour une cozzz ci-dessous.</p>

<h3 class="jdb-theme-l3 jdb-padding-small jdb-bold">Rejoignez la communauté "Artiste pour une cause"</h3>
<p>Inscrivez-vous pour recevoir les derniers events, de la série Artistes pour une cause, ainsi que les différentes actions promotionnelles pour soutenir une cause !</p>


<!-- Name (obligatoire)

Email (obligatoire)

Envoyer -->