---
layout: page
title: Un geste une vie
description: Faites un geste... C'est pour l'espérance d'une vie.
theme_color: #ff9800
thumbnail: /assets/images/un-geste-une-vie-16716174_1015421192355172.jpg
---

<style>div.thumbnail-as-bg .mast::before{background-position:0 25%!important}</style>

<p>Un Geste, une vie est un concert-spectacle en vue d’aider des populations défavorisées partout dans le monde. Des musiciens, des chanteurs, une panoplie d’artistes pour le plaisir de vos yeux et de vos sens se rassemblent pour vous offrir une spectacle de qualité et vous pousse à faire un geste, pour l’espérance d’une vie…</p>

<div class="jdb-row-padding">
  <div class="jdb-half">
    {% include figure.html src="/assets/images/un-geste-une-vie_16112016.jpeg" img_class="jdb-round" alt="Un geste, une vie du 16 Novembre 2016" %}
  </div>
  <div class="jdb-half">
    {% include figure.html src="/assets/images/un-geste-une-vie-26991888_10214656435745336.jpg" img_class="jdb-round" alt="Un geste, une vie - Alia Elesse & Gospel family" %}
  </div>
</div>

<hr>

<div class="embed-container">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/w7B4vxTHTYs?controls=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<hr>

<h2>Donate</h2>
<p>Soutenez le projet « Un geste, une vie » en :</p>

<ul class="jdb-ul">
  <li>Achetant un ou plusieurs ticket(s) pour le concert-spectacle organisé dans l’année</li>
  <li>En invitant l’artiste à chanter vos chansons gospel préférés à votre lieu de travail</li>
  <li>
    <a href="https://paypal.me/AliaElesse" class="jdb-btn jdb-theme jdb-round" target="_blank">
      Faire un don pour l'espérance d'une vie <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<p><a href="mailto:bureauaren@gmail.com">Envoyez-nous un e-mail</a> et découvrez le concert-spectacle de 2018 en faveur du Bénin !</p>