---
layout: default
permalink: /
---
<section class="intro jdb-theme">
  <div class="jdb-padding-32 jdb-hide-small"></div>
  <div class="grid jdb-display-container">
    <div class="jdb-container jdb-padding-64" style="max-width:1234px; margin:auto">
      <div class="jdb-col">
        <div class="jdb-col jdb-twothird">
          <h2 class="intro__text font-effect-emboss jdb-text-white">
            BONJOUR,<br/>Je m'appelle Alia et je suis une créatrice de contenu, une entrepreneure créative et une artiste pour la cause.
          </h2>
          <div class="jdb-padding-16"></div>
          <h3>Accéder à :</h3>
          <ul class="jdb-ul jdb-border jdb-margin-top">
            <li><a class="jdb-decoration-0" href="{{ '/formations/' }}">
              <i class="fa fa-fw fa-angle-double-right" aria-hidden="true"></i> Formations</a>
            </li>
            <li><a class="jdb-decoration-0" href="{{ '/categories/' }}">
              <i class="fa fa-fw fa-angle-double-right" aria-hidden="true"></i> Catégories</a>
            </li>
          </ul>
        </div>
        <div class="jdb-col jdb-quarter jdb-center">
          {% include figure.html src="/assets/images/me-playing-guitare.jpg" img_class="jdb-circle jdb-opacity-min" %}
          <a class="jdb-btn jdb-round jdb-theme-action" href="https://aliapourvous.com/a-propos">
            En savoir plus <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}
  {% include wave.html %}
{% endcomment %}

<section class="jdb-padding-64 jdb-black jdb-center jdb-theme jdb-border-top">
  <a class="jdb-xxlarge link" href="{{ '/contact' | prepend: site.baseurl }}">
    <span class="">Contactez-moi</span>
  </a>
</section>