---
layout: page
title: Voix d'eaux vives
description: Coucou! C' Alia & C' pour vous!
theme_color:
header_class: jdb-purple
header_background:
  image: "url(assets/images/high-angle-shot-motion-1095965.jpg) no-repeat"
  position: "top"
  size: "cover"
---
{% include mailchimp-css.html %}
<style type="text/css">
  @media screen and (max-width: 600px) {
    .jdb-row .img1-in-main {
      height: 280px !important;
      background-position: center !important;
    }
  }
  .page-header .project-name,
  .page-header .project-tagline {
    text-shadow: 1px 1px 2px black,
                     0 0 1em black,
                   0 0 0.2em black;
  }
  .page-header .jdb-nav-link-list a.btn {
    background-color: rgba(49, 124, 145, 0.79);
  }
  .page-header .project-name {
    font-weight: 700 !important;
  }
</style>
<div class="jdb-row">
  <div class="jdb-twothird">
    <p>Voix d'eaux vives est un collectif d'artistes évoluant dans la musique gospel contemporaine. Le groupe est formé et est originaire de la ville de Bruxelles.</p>
    <p>Rattaché au groupe d'adoration du centre de réveils Fleuves d'eaux vives, il évolue dans un style poprock à caractère afrogospel. Il regroupe en son sein plusieurs disciplines artistiques dans un objectif commun : Un coeur à coeur avec le Créateur.</p>
  </div>
  <!-- TODO: Fix image link -->
  <!-- <div class="jdb-third img1-in-main" style="height:225px; background-image:url({{ '/assets/images/eagle.jpeg' | relative_url }}); background-repeat:no-repeat; background-position:right; background-size:contain"></div> -->
</div>

<!-- <a href="{{ '/assets/images/voix-d-eaux-vives.jpeg' | relative_url }}" target="_blank"><img rel="noindex" src="{{ '/assets/images/voix-d-eaux-vives.jpeg' | relative_url }}" alt="Groupe Voix d'eaux vives" class="jdb-image jdb-round jdb-hover-shadow"/></a> -->

<div class="jdb-panel jdb-padding-small jdb-light-grey jdb-border jdb-margin-top jdb-round-large">
  <h1 class="jdb-bold jdb-center jdb-text-purple" style="color:#be5bff">CONTACTEZ-NOUS</h1>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="jdb-round-large jdb-white">
    <form action="https://linkedin.us12.list-manage.com/subscribe/post?u=ef120c113a440e90bff9f5964&amp;id=79a5b398dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required">
          <span class="asterisk">*</span> obligatoire
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Adresse email <span class="asterisk">*</span>
        </label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="mon.email@example.com"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Prénom <span class="asterisk">*</span>
        </label>
          <input type="text" name="FNAME" class="required" id="mce-FNAME" placeholder="Jane"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Nom <span class="asterisk">*</span>
        </label>
          <input type="text" name="LNAME" class="required" id="mce-LNAME" placeholder="Doe"/>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_ef120c113a440e90bff9f5964_58e96b71ca" tabindex="-1" value=""/>
        </div>
        <div class="clear">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button jdb-purple">
            <i class="fa fa-plus" aria-hidden="true"></i> S'inscrire
          </button>
        </div>
      </div>
    </form>
  </div>
  {% include mailchimp-js.html %}
  <!--End mc_embed_signup-->
</div>