<footer class="footer jdb-bar jdb-theme-l4 jdb-padding-24">
  <div class="jdb-bar-item jdb-text-gray">
    <a class="jdb-decoration-0 jdb-hide-small" href="https://w.we-rl.xyz/br-cd" target="_blank">
      <i class="fa fa-code" aria-label="Codé par" aria-hidden="true"></i> José dB.
    </a>
    <span class="footer__copy">&copy; {{ site.time | date: "%Y" }}</span>
  </div>
  {% if site.social.size > 0 %}
    <div class="footer__list jdb-right">
      {% if site.social.github %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.github }}" target="_blank">
          <i class="fa fa-github jdb-text-black" aria-label="GitHub" aria-hidden="true"></i>
          <span class="jdb-hide-small"> GitHub</span></a>
      {% endif %}
      {% if site.social.codepen %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.codepen }}" target="_blank">
          <i class="fa fa-codepen jdb-text-black" aria-label="CodePen" aria-hidden="true"></i>
          <span class="jdb-hide-small"> CodePen</span></a>
      {% endif %}
      {% if site.social.facebook %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.facebook }}" target="_blank">
          <i class="fa fa-facebook-official jdb-text-blue-gray" aria-label="Facebook" aria-hidden="true"></i> 
          <span class="jdb-hide-small"> Facebook</span></a>
      {% endif %}
      {% if site.social.instagram %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.instagram }}" target="_blank">
          <i class="fa fa-instagram jdb-text-pink" aria-label="Instagram" aria-hidden="true"></i>
          <span class="jdb-hide-small"> Instagram</span></a>
      {% endif %}
      {% if site.social.twitter %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.twitter }}" target="_blank" data-color="#2190F3">
          <i class="fa fa-twitter jdb-text-blue" aria-label="Twitter" aria-hidden="true"></i>
          <span class="jdb-hide-small"> Twitter</span></a>
      {% endif %}
      {% if site.social.snapchat %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.snapchat }}" target="_blank">
          <i class="fa fa-snapchat-ghost jdb-text-yellow" aria-label="Snapchat" aria-hidden="true"></i>
          <span class="jdb-hide-small"> Snapchat</span></a>
      {% endif %}
      {% if site.social.dev %}
        <a class="footer__link jdb-bar-item" href="{{ site.social.dev.link }}" target="_blank">
          <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Mon profil DEV" height="20" width="20" rel="noindex"/></a>
      {% endif %}
    </div>
  {% endif %}
</footer>