<div class="jdb__tag-widget {% if include.class %}{{ include.class }}{% endif %}">
  <div class="jdb-padding jdb-theme">
    <h4><i class="fa fa-tags" aria-hidden="true"></i> Tags</h4>
  </div>
  <div class="jdb-padding jdb-white jdb-border">
    {% if site.tags.size > 0 %}
      {% for tag in site.tags limit:page.tag_cloud_limit or include.tag_cloud_limit %}
        <a href="{{ '/archives#tags' }}">
          <span class="jdb-tag jdb-margin-bottom jdb-theme">{{ tag[0] }}</span>
        </a>
      {% endfor %}
      {% if site.tags.size > page.tag_cloud_limit %}
        <span class="jdb-tag jdb-theme">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> plus</span>
        </a>
      {% endif %}
    {% else %}
      <div class="jdb-pale-red jdb-padding-small">
        Il n'y a aucun tag défini dans l'ensemble des articles de <i>{{ site.title }}</i>.
      </div>
    {% endif %}
  </div>
</div>