div.thumbnail-as-bg .mast::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 509px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #100e17), url({{ page.thumbnail }});
  opacity: 0.75;
}
div.thumbnail-as-bg .mast .grid {position: relative; z-index: 1; color: #fff}
div.thumbnail-as-bg .wave {z-index: 1}
body.thumbnail-as-bg:not(.js-scrolling-up) .header a,
body.thumbnail-as-bg:not(.js-scrolling-up) .header ul li a {color: #fff !important}
body.thumbnail-as-bg .header__link:before, a.link:link:before {background-color: #fff}