:root {
  --font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --light-gray: #cccccc;
  --main-max-width: 900px; /* 1200px; */
}

body {
  font-family: var(--font-family);
  color: rgba(14, 30, 37, 0.76);
  background: #fff;
  font-size: 1.2rem;
}
body.inverse {
  background: #0e1e25;
  color: rgba(255,255,255,.9);
}

.h1+p,.h2+p,.h3+p,.h4+p,
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
  margin-top: .5em
}

/* .page #markdown .h1, .page #markdown .h2, .page #markdown .h3, .page #markdown .h4,
.page #markdown h1, .page #markdown h2, .page #markdown h3, .page #markdown h4,
.page #markdown h5, .page #markdown h6 {
  border-left: 6px solid var(--theme-color);
  padding-left: 10px;
} */

.h1, h1 {
  font-size: 1.618em;
  font-weight: 600;
  line-height: 1.333
}

@media (min-width: 32em) {
  .h1, h1 {
    font-size:calc(1.618em + 1vw);
    line-height: 1.2
  }
}

@media (min-width: 60em) {
  .h1, h1 {
    font-size:2.618em
  }
}

.h2, h2 {
  font-size: 1.618em;
  font-weight: 600;
  line-height: 1.333
}

@media (min-width: 60em) {
  .h2, h2 {
    font-size:2em;
    font-weight: 500
  }
}

.h3, h3 {
  font-size: 1.3em;
  line-height: 1.333
}

.h4, h4 {
  font-size: 1.1em;
  line-height: 1.4
}

blockquote, ol, /* p, */ul {
  margin: 1em auto 0;
  padding: 0
}

figure, img {max-width:100%}
label {cursor:pointer}
/*p {max-width:37.577em}*/
hr {
  background-image: linear-gradient(-90deg,rgba(14,30,37,0) 0,#0e1e25 5%,#0e1e25 90%,rgba(14,30,37,0) 100%);
  border: 0;
  height: 2px;
  opacity: .08
}

body.inverse .hr::after {
  background-image: linear-gradient(-90deg,rgba(255,255,255,0) 0,#fff 5%,#fff 90%,rgba(255,255,255,0) 100%)
}

a {word-break: normal}
.jdb-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.jdb-visuallyhidden.focusable:active,
.jdb-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto
}

.jdb-invisible {
  visibility: hidden
}

.jdb-nowrap {
  white-space: nowrap
}

.jdb-content {max-width: var(--main-max-width) !important}
.jdb-pointer {cursor:pointer}
.jdb-right:after,
.jdb-left:before {
  clear: both;
  content: "";
  display: table-cell;
}

.jdb-display-leftmiddle {
  position: absolute;
  top: 50%;
  left: 0;
    transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%)
}
.jdb-display-rightmiddle {
  position: absolute;
  top: 50%;
  right: 0;
    transform: translate(0%, 0%);
  -ms-transform: translate(0%,0%)
}

.jdb-clearfix::after {
  clear: both;
  content: "";
  display: table
}

.jdb-bold {font-weight:bold}
.jdb-lowercase {text-transform:lowercase!important}
.jdb-uppercase {text-transform:uppercase!important}
.jdb-text-justify {text-align:justify}
.jdb-btn-block {width: 100%}
.jdb-wrap {white-space: normal}
.jdb-margin-0 {margin:0}
.jdb-margin-0-f {margin:0!important}
.jdb-padding-0 {padding: 0}
.jdb-padding-0-f {padding: 0!important}

.jdb-shake,
.jdb-hover-shake:hover {
  -webkit-animation: shake 0.5s;
       -o-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.link {
  background-image: linear-gradient(to right, var(--theme-color), #ddd);
}
.s-link,
.post article a:not(.link),
.page a:not(.link) {
  color: var(--theme-color);
  text-decoration: none;
}
.s-link:hover,
.s-link:focus,
.post article a:not(.link):hover,
.post article a:not(.link):focus,
.page a:not(.link):hover,
.page a:not(.link):focus {
  text-decoration: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.link,
.s-link {
  text-decoration: none;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}

.link:hover,
.link:focus {
  text-decoration: none;
  background-size: 100% 3px;
}

/* CUSTOMS */
.jdb-top-header {
  background: #5dbcd2;
}

.jdb-progress-containerfx {
  display: table;
  table-layout: fixed;
  position: fixed;
  z-index: 10000;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 0.3em;
  margin-bottom: 0;
  overflow: hidden;
  background-color: transparent;
}

.jdb-progressBarfx{
  float: left;
  width: 0%;
  height: 100%;
  z-index: 99999;
  max-width: 100%;
  background: -webkit-linear-gradient(left, transparent, var(--theme-color));
  background: -o-linear-gradient(left, transparent, var(--theme-color));
  background: linear-gradient(to right, transparent, var(--theme-color));
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

nav.jdb-navigation.jdb-top {
  z-index: 99
}

nav.jdb-navigation.jdb-top .jdb-dropdown-content {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#large-menu {
  border-top: 1px solid var(--light-gray);
  /*border-bottom: 1px solid var(--light-gray);*/
}

#small-screen-menu a {
  border-bottom: 1px solid var(--light-gray);
}

.jdb-content .jdb-button,
.jdb-content .jdb-btn-block {
  border-radius: 5px;
}

/*.posts__container {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}*/

.posts__container .jdb-posts__post .jdb-hover-shadow {
  border: 1px solid var(--light-gray);
  border-top: none;
}
.posts__container .jdb-posts__post:not(:hover) {
  box-shadow: 0 10px 0 -5px #dedcb9;
}
.blog .posts__container .jdb-posts__post:first-child .jdb-hover-shadow {
  border: none !important;
}
.jdb-posts__thumbnail {
  max-height: 230px;
  -webkit-transition-timing-function: cubic-bezier(.25,.1,.25,1);
          transition-timing-function: cubic-bezier(.25,.1,.25,1);
}
.jdb-posts__thumbnail .jdb-display-topleft {
  z-index: 1;
}
.jdb-posts__thumbnail figure {
  margin: 0;
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.jdb-posts__thumbnail:before {
  content: "";
  display: block;
  padding-top: 53.5%;
}
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

form.rounded input,
form.rounded textarea {
  border-radius: 5px;
}
.jdb-row-padding > div:not(:last-child) {
  margin-bottom: 8px;
}

.jdb-decoration-0,
footer.footer a,
.jdb-posts__link {
  text-decoration: none !important
}
footer .footer__copy {
  padding-left: 0!important
}
.footer__list .footer__link {
  border: 1px solid transparent;
  border-radius: 5px;
}
.footer__list .footer__link:hover {
  border: 1px solid var(--light-gray);
}
.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;
}
.pagination .pagination__link {
  background: var(--theme-color);
  color: #fff;
  font-size: 19px;
  padding: 32px;
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination .pagination__link:hover {
  opacity: 0.9
}
.post .share-container .share__link {
  text-decoration: none;
}
.post #markdown p:first-of-type:first-child::first-letter,
.jdb-lettrine:first-of-type:first-child::first-letter {
  float:left;
  font-size: 4.5em;
  line-height: 100%;
  padding: 0 0.05em 0 0;
}
.post .mast__content {
  width: 100vw;
  max-width: var(--main-max-width);

  margin-left: 50%;
  transform: translateX(-50%);
}
.jdb__tag-widget a {
 text-decoration: none
}

.jdb-image-zoom {
  cursor: zoom-in;
}
#small-screen-menu .jdb-accordion-none > .jdb-bar-block .jdb-bar-item {
  border-left: 3px solid var(--theme-color);
}
#instagram-frame * {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
#instagram-frame .jdb-image {
  border: 3px solid var(--theme-color);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width:100%;
}

#instagram-frame .jdb-image:hover {
  transform: rotate(8deg);
}

#instagram-frame .insta-video::before {
  color: var(--theme-color);
  font-family: FontAwesome;
  content: "\f01d";
  font-size: 190px;
  margin-left: 20px;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

#instagram-frame .insta-video:hover::before {
  opacity: 1;
}
#instagram-frame ::before .jdb-image {
  transform: rotate(10deg) !important;
}
#instagram-frame .insta-item a > div {
  padding: 8px 16px;
}
.page .mast__container .mast__content {
  width: calc(100% - 30px);
}
.page .mast__container .mast__content .mast__title {
  text-align: center
}
@media (max-width: 600px) {
  .pagination .pagination__link .pagination__text {
    font-size: 15px;
  }
  #instagram-frame .insta-item a > div {
    padding: 8px 0;
  }
}
@media (min-width: 600px) {
  #instagram-frame .insta-video::before {
    font-size: 65px
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #instagram-frame .insta-item {
    width: 49.99999%
  }
}

@media (min-width: 1100px) {
  #instagram-frame .insta-video::before {
    font-size: 150px;
    margin-top: 45px;
  }
}

/* Keyframes */
@-webkit-keyframes shake {
   0%{ -webkit-transform:translate(1px, 1px)   rotate(0deg); transform:translate(1px, 1px)   rotate(0deg)}
  10%{ -webkit-transform:translate(-1px, -2px) rotate(-1deg);transform:translate(-1px, -2px) rotate(-1deg)}
  20%{ -webkit-transform:translate(-3px, 0px)  rotate(1deg); transform:translate(-3px, 0px)  rotate(1deg)}
  30%{ -webkit-transform:translate(3px, 2px)   rotate(0deg); transform:translate(3px, 2px)   rotate(0deg)}
  40%{ -webkit-transform:translate(1px, -1px)  rotate(1deg); transform:translate(1px, -1px)  rotate(1deg)}
  50%{ -webkit-transform:translate(-1px, 2px)  rotate(-1deg);transform:translate(-1px, 2px)  rotate(-1deg)}
  60%{ -webkit-transform:translate(-3px, 1px)  rotate(0deg); transform:translate(-3px, 1px)  rotate(0deg)}
  70%{ -webkit-transform:translate(3px, 1px)   rotate(-1deg);transform:translate(3px, 1px)   rotate(-1deg)}
  80%{ -webkit-transform:translate(-1px, -1px) rotate(1deg); transform:translate(-1px, -1px) rotate(1deg)}
  90%{ -webkit-transform:translate(1px, 2px)   rotate(0deg); transform:translate(1px, 2px)   rotate(0deg)}
  100%{-webkit-transform:translate(1px, -2px)  rotate(-1deg);transform:translate(1px, -2px)  rotate(-1deg)}
}

@keyframes shake {
   0%{ -webkit-transform:translate(1px, 1px)   rotate(0deg); transform:translate(1px, 1px)   rotate(0deg)}
  10%{ -webkit-transform:translate(-1px, -2px) rotate(-1deg);transform:translate(-1px, -2px) rotate(-1deg)}
  20%{ -webkit-transform:translate(-3px, 0px)  rotate(1deg); transform:translate(-3px, 0px)  rotate(1deg)}
  30%{ -webkit-transform:translate(3px, 2px)   rotate(0deg); transform:translate(3px, 2px)   rotate(0deg)}
  40%{ -webkit-transform:translate(1px, -1px)  rotate(1deg); transform:translate(1px, -1px)  rotate(1deg)}
  50%{ -webkit-transform:translate(-1px, 2px)  rotate(-1deg);transform:translate(-1px, 2px)  rotate(-1deg)}
  60%{ -webkit-transform:translate(-3px, 1px)  rotate(0deg); transform:translate(-3px, 1px)  rotate(0deg)}
  70%{ -webkit-transform:translate(3px, 1px)   rotate(-1deg);transform:translate(3px, 1px)   rotate(-1deg)}
  80%{ -webkit-transform:translate(-1px, -1px) rotate(1deg); transform:translate(-1px, -1px) rotate(1deg)}
  90%{ -webkit-transform:translate(1px, 2px)   rotate(0deg); transform:translate(1px, 2px)   rotate(0deg)}
  100%{-webkit-transform:translate(1px, -2px)  rotate(-1deg);transform:translate(1px, -2px)  rotate(-1deg)}
}


/*  align-items: center;
  justify-content: flex-end*/