---
layout: page
title: Formulaire d'inscription à Building project
description: Ma nouvelle formation Building project est ici!
header_class: jdb-theme
---

{% include mailchimp-css.html %}
<h3>Building project est un accompagnement personnalisé dans le développement de votre projet de vie.</h3>
<p>J’ai eu l’opportunité de travailler durant 5 ans dans un environnement international, en développant des projets transfontaliers, gérant des partenariats internationaux, et assistant la direction dans la concrétisation de projets innovants.</p>

<p>J’ai partagé ma connaissance et mon expertise pour leur projets afin d’optimiser les résultats. Je détiens un Graduat en Communication et je parle couramment Français et Anglais.</p>

<p>Mon profil vous interpelle ? N'hésitez pas à vous inscrire à ma newsletter et à obtenir votre premier cadeau de bienvenue ! 4 vidéos offertes du programme Building project.</p>

<div class="jdb-panel jdb-padding-small jdb-light-grey jdb-border jdb-margin-top jdb-round-large">
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="jdb-round-large jdb-white">
    <form action="https://aliapourvous.us12.list-manage.com/subscribe/post?u=ef120c113a440e90bff9f5964&amp;id=31cd1d90fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required">
          <span class="asterisk">*</span> obligatoire
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Adresse email <span class="asterisk">*</span>
        </label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="mon.email@example.com"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Prénom <span class="asterisk">*</span>
        </label>
          <input type="text" name="FNAME" class="required" id="mce-FNAME" placeholder="Jane"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Nom <span class="asterisk">*</span>
        </label>
          <input type="text" name="LNAME" class="required" id="mce-LNAME" placeholder="Doe"/>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_ef120c113a440e90bff9f5964_58e96b71ca" tabindex="-1" value=""/>
        </div>
        <div class="clear">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button jdb-theme">
            S'inscrire <i class="fa fa-send" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  {% include mailchimp-js.html %}
  <!--End mc_embed_signup-->
</div>

{% comment %}
<!-- TODO: Remove the following container -->
<div class="jdb-row-padding jdb-padding jdb-red jdb-round-large jdb-medium jdb-hide">
  <div class="jdb-half">
    <p style="text-align:justify"><i><strong>"Spiritual journey"</strong> est née de la profonde conviction que ceux que tu accomplis découle de ce en quoi tu crois. Je suis une femme avant tout spirituelle dans ma démarche de la découverte de soi.
Serait-ce fou de croire que dans cette globalisation, nous restons unique et valorisé par ce qui se trouve à l'intérieur de nous ?<br/><br/>J'ose  croire que l'entrepreneur créatif est une réponse à une demande. Il est une lampe qui s'illumine au milieu de la nuit. Découvrir la raison pour laquelle il brille, il n'y a rien de plus magnifique !</i>
    </p>
    <div class="jdb-row">
      <div class="jdb-col" style="width:55px">
        <img class="jdb-round" loading="lazy" src="/assets/images/alia-759351804.jpg" alt="Profile Alia Elesse" style="width:100%"/>
      </div>
      <div class="jdb-rest">
        <div class="jdb-large jdb-margin-left">
          <strong>Alia Elesse</strong><br/>
          <span>Artiste pour une cause</span>
        </div>
      </div>
    </div>
  </div>
  <div class="jdb-half">
    <p class="jdb-large"><strong>Je suis une entrepreneure créative</strong></p>
    <p style="text-align:justify"><i>Passionnée de musique que j'exerce en activité complémentaire, j'ai toujours eu un penchant pour les projets naissants et les industries créatives. Ceci me permet par mon expérience sur terrain et mes acquis professionnels de concrétiser et donner forme à plusieurs projets socio-culturels, passant du non-marchand au B2B</i></p>
  </div>
</div>
{% endcomment %}