---
layout: page
title: "Formulaire d'inscription à Cré'Action"
description: "Coucou! C' Alia & C' pour vous!"
theme_color: "#13baf8"
header_class: jdb-teal
header_background:
  image: "linear-gradient(190deg, #13baf8, #f27200)"
  position: "bottom"
  size: "cover"
---
{% include mailchimp-css.html %}
<style type="text/css">
  @media screen and (max-width: 600px) {
    .jdb-row .img1-in-main {
      height: 200px !important;
    }
  }
</style>
<div class="jdb-row">
  <div class="jdb-twothird">
    <p>Inscrivez-vous et recevez gratuitement la présentation Powerpoint pour le contenu de votre bullet agenda ! Rejoignez dès maintenant la communauté des entrepreneurs créatifs partout dans le monde :</p>
  </div>
  <div class="jdb-third img1-in-main" style="height:120px; background-image:url({{ '/assets/images/creaction-logo-759829304.png' | relative_url }}); background-repeat:no-repeat; background-position:center; background-size:contain"></div>
</div>

<div class="jdb-panel jdb-padding-small jdb-light-grey jdb-border jdb-margin-top jdb-round-large">
  <h1 class="jdb-bold jdb-center jdb-text-teal">REJOIGNEZ le CLUB!</h1>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="jdb-round-large jdb-white">
    <form action="https://aliapourvous.us12.list-manage.com/subscribe/post?u=ef120c113a440e90bff9f5964&amp;id=641fb09296" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required">
          <span class="asterisk">*</span> obligatoire
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Adresse email <span class="asterisk">*</span>
        </label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="mon.email@example.com"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Prénom <span class="asterisk">*</span>
        </label>
          <input type="text" name="FNAME" class="required" id="mce-FNAME" placeholder="Jane"/>
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Nom <span class="asterisk">*</span>
        </label>
          <input type="text" name="LNAME" class="required" id="mce-LNAME" placeholder="Doe"/>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_ef120c113a440e90bff9f5964_58e96b71ca" tabindex="-1" value=""/>
        </div>
        <div class="clear">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button jdb-teal">
            <i class="fa fa-plus" aria-hidden="true"></i> Rejoindre le club
          </button>
        </div>
      </div>
    </form>
  </div>
  {% include mailchimp-js.html %}
  <!--End mc_embed_signup-->
</div>