---
layout: page
title: Archives
description: Archives du blog
noindex: true
permalink: /archives
redirect_from: /archive
thumbnail: /assets/images/papers-pages-209137.jpg
---

<section class="jdb-section" id="articles">
  <div class="jdb-padding-16"></div>
  <h1 class="jdb-center"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</h1>
  {% for post in site.posts %}
    {% unless post.next %}
      <h2  id="{{ site.time | date: '%Y' }}">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%Y" }}
      </h2>
      <ul class="jdb-ul jdb-margin-bottom">
    {% else %}
      {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: "%Y" }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h2><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%Y" }}</h2>
          <ul class="jdb-ul jdb-margin-bottom">
      {% endif %}
    {% endunless %}
      <li><a class="link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>

<section class="jdb-section" id="categories">
  <div class="jdb-padding-16"></div>
  <h1 class="jdb-center"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Catégories</h1>

  <div class="jdb-border jdb-padding">
    {% if site.categories.size > 0 %}
      {% for category in site.categories %}
        <a class="jdb-padding-tiny jdb-decoration-0" href="#{{ category[0] }}">
          <span class="jdb-tag jdb-hover-theme jdb-medium jdb-light-gray">
            {{ category[0] }}
          </span>
        </a>
      {% endfor %}
    {% else %}
      <span>Il n'y a aucune catégorie définie.</span>
    {% endif %}
  </div>

  {% for category in site.categories %}
    <div class="jdb-padding-16"></div>
    <h2 id="{{ category[0] }}">
      {% comment %}<a href="/blog/tag/{{ category[0] | slugify }}"></a>{% endcomment %}
      <span>{{ category[0] }}</span>
    </h2>
    {% if site.categories.size > 0 %}
      <ul class="jdb-ul">
        {% for post in category[1] %}
          <li><a class="link" href="{{ post.url }}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</section>


<section class="jdb-section" id="tags">
  <div class="jdb-padding-16"></div>
  <h1 class="jdb-center"><i class="fa fa-tags" aria-hidden="true"></i> Liste de tags</h1>
  <div class="jdb-border jdb-padding">
    {% if site.tags.size > 0 %}
      {% for tag in site.tags %}
        <a class="jdb-padding-tiny jdb-decoration-0" href="/{{ site.tag_page_dir }}/{{ tag[0] }}/" {% comment %}style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px"{% endcomment %}>
          <span class="jdb-tag jdb-hover-theme jdb-medium jdb-light-gray">{{ tag[0] }}</span>
        </a>
      {% endfor %}
    {% else %}
      <span>Il n'y a aucun tag défini dans l'ensemble des articles.</span>
    {% endif %}
  </div>
</section>