---
layout: page
title: Articles
---

<ul class="jdb-ul jdb-border jdb-round-large">
  <li class="jdb-bar">
    <img src="{{ page.profil_image }}" class="jdb-bar-item jdb-circle" style="width:85px"/>
    <div class="jdb-bar-item jdb-border-bottom">
      <span class="jdb-large">{{ page.display_name }}</span><br/>
      <span>{{ page.position }}</span>
    </div>
    <div class="jdb-bar-item author-content">
      {{ content }}
    </div>
  </li>
</ul>


{% assign filtered_posts = site.posts | where: 'author', page.name %}
{% if filtered_posts.size > 0 %}
  <hr/>
  <h2>Tous les articles</h2>
  <ul class="jdb-ul jdb-hoverable">
    {% for post in filtered_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}