---
layout: compress
---
<!DOCTYPE html>
<html dir="ltr" lang="{% unless site.lang != 'fr' %}{{ site.lang }}{% else %}fr{% endunless %}">
<head>
  {% include head.html %}
</head>
<body {% if page.thumbnail %}{% assign thumbnail_as_bg = 1 %} class="thumbnail-as-bg"{% endif %}>
  <div id="jdb-wrapper" {% if page.title %}class="{{ page.title | downcase | slugify }}"{% endif %}>
    {% include header.html %}
    <main {% if page.url == "/" %}class="home"{% endif %}>{{ content }}</main>
    {% include footer.html %}
  </div>
  
  <style type="text/css">
    {% if page.thumbnail %}
      {% include thumbnail_header.css %}
    {% endif %}
  </style>
  <script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>
</body>
</html>