---
layout: default
---

<div class="page {% if page.thumbnail %}thumbnail-as-bg{% endif %}">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <section class="mast jdb-display-container
      {% if page.header_class != undefined %}
        {{ page.header_class }}
      {% elsif page.thumbnail == undefined %}
        jdb-theme
      {% endif %}" style="min-height:
      {% if page.thumbnail %}350px{% else %}250px{% endif %};
      {% if page.header_shadow %}
        box-shadow:inset 0px 0 15px 5px #333;
      {% endif %}
      {% if page.header_css %}
        {{ page.header_css  }}
      {% endif %}">
      <div class="grid" style="position:initial">
        <div class="mast__container">
          <div class="mast__content jdb-display-middle jdb-padding">
            <h1 class="mast__title font-effect-emboss" itemprop="name headline">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="jdb-padding jdb-white">
      <div class="jdb-content">
        <div id="markdown" itemprop="articleBody">
          {% if page.inconstruction == true %}
            <div class="jdb-panel jdb-sand jdb-round">
              <p class="jdb-xlarge">Page en construction.</p>
            </div>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
    </section>
  </article>
</div>

<div class="jdb-clearfix"></div>

{% comment %}
  <section class="jdb-padding-32 jdb-light-gray jdb-border-bottom">
    <div class="jdb-content">
      {% include newsletter.html class="jdb-padding" closed=true %}
    </div>
  </section>
{% endcomment %}