---
layout: page
title: Tag
header_class: jdb-theme
thumbnail: /assets/images/aircraft-airplane-miniature-360009.jpg
image: /assets/images/aircraft-airplane-miniature-360009.jpg
---

<style>
  #tag-cloud .set-5 {
    font-size: 15px;
    color: #000;
    background-color: #f1f1f1;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
  #tag-cloud .set-5:hover {
    color: #fff;
    background-color: #000;
  }
</style>

<div class="jdb-panel jdb-light-gray">
  <p>Liste des articles qui ont "<strong>{{ page.tag }}</strong>" comme tag en commun.</p>
</div>
<div class="tags-container">
  <ul>
    {% for post in page.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <span>({% include date.html date=post.date  day=post.date %} | Tags: {{ post | tags }})</span></li>
    {% endfor %}
  </ul>

  <hr class="jdb-section"/>

  <h1><i class="fa fa-tags" aria-hidden="true"></i> D'autres tags</h1>
  <div id="tag-cloud">
    
    {% comment %}
      {{ site | tag_cloud }}
    {% endcomment %}

    {% if site.tags.size > 0 %}
      {% for tag in site.tags %}
        <a class="jdb-padding-tiny jdb-decoration-0" href="/{{ site.tag_page_dir }}/{{ tag[0] }}/" {% comment %}style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px"{% endcomment %}>
          <span class="jdb-tag jdb-hover-theme jdb-medium jdb-light-gray">{{ tag[0] }}</span>
        </a>
      {% endfor %}
    {% else %}
      <span>Il n'y a aucun tag défini dans l'ensemble des articles.</span>
    {% endif %}
  </div>
</div>
